body img {
    width: 381px;
    height: 353px;
    top: 107px;
    left: 181px;

    justify-content: center;

}



.form-principal {
    background-color: rgb(204, 209, 185);
    display: flex;
    justify-content: center;
    min-height: 350px;
    min-width: 381px;
    font-style: oblique;
    

}


.form-container {
    padding: 8px;
    border: 1px solid #dd5656;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 381px;
    justify-content: space-evenly;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    width: auto;
    min-height: 350px;
}

.input-container {
    background-color: rgb(194, 173, 214);
    display: flex;
    flex-direction: column;
    min-width: 381px;
    
}


.input-gorjeta {
    background-color: rgb(177, 173, 214);
    display: flex;
    min-width: 381px;
    
}


.input-element {
    background-color: #9fc9d3;
}


input{
    min-width: 200;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 2px;
}




.button {
    background-color: burlywood;
    font-size: larger;
    min-width: 381px;
    padding: 10px;
    border-radius: 3px;
}